@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
  
}

.geral {
    display: flex;
    height: 100vh;
    background-color: #D9D9D9;
}

.lado-esquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; /* Mudando a largura */
    background-color: #D9D9D9;
    

}

.lado-esquerdo img {
    max-width: 100%;
}

.lado-direito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 5%; /* Espaçamento de dentro */
    background-color: #41959D;
    border-radius: 45% 0% 0% 45%;
}

.form-login {
    width: 80%;
    color: black ;
    
}

.form-login p {
    text-align: right;
}

button#entrar {
    margin-top: 8px;
    color: black;
    background-color: #D9D9D9;
    
}

h1 {
    display: flex;
    justify-content: right;
}